@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
.form-group {
  margin: 1rem;
  padding: 0.5rem 0.9rem;
  border: 1px solid black;
  display: flex;
  text-align: right;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
}

header {
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  padding: 1rem;
  color: #f4f4f4;
}

header .navbar {
  width: 100%;
}

.btn-success {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

body {
  overflow-x: hidden;
}
