.wrapper {
  position: relative;
  display: grid;
  background-color: white;
  min-height: 100vh;
  place-items: center;
}

.buttons {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  width: 100%;
  bottom: 5rem;
}
