.travel {
  width: 100%;
  display: flex;

  padding-top: 15vh;
}

.travel form {
  width: 500px;
  display: grid;
  place-items: center;
}

.buttons {
  position: absolute;
  bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
